.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
#ModalMotivation textarea.form-control{
    /*width: 80%;*/
    margin: auto;
    margin-bottom: 20px;
}
#ModalMotivation .btn-primary{
    display: block;
    width: 100%;
    margin: auto;
}
#ModalMotivation .modal-body{
    padding: 0% 8%;
}
#ModalMotivation .modal-title{
    color: #4F5A67;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 28px;
}

#ModalAchievements textarea.form-control{
    margin: auto;
    /*margin-bottom: 20px;*/
}
#ModalAchievements .btn-primary{
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
#ModalAchievements .modal-body{
    padding: 0% 8%;
}
#ModalAchievements .modal-title{
    color: #4F5A67;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 28px;
}
#ModalAchievements label{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #9DA3AF;
    margin: 25px 0px 15px 0px;
    width: 100%;
}
#ModalAchievements input.form-control{
    border: 0px solid #ccc;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    border-bottom-width: 1px;
    border-radius: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #C7CAD1;
    padding: 6px 0px;
}
#ModalAchievements .modal-footer{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #9DA3AF;
}
.betwen_date_achievements{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    color: #C7CAD1;
    display: block;
}


/*.form-label-group > input, .form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}*/
.main-header {
    /*background-color: #7373ab8f!important;*/
}
@media (min-width: 1200px)
.container {
    width: 1170px;
}

@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin: auto;
    max-width: 1130px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.main-header__wrap {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 60px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    /*justify-content: space-between;*/
    /*justify-content: flex-end!important;*/
}
.btnsubmit{
    padding: 5px 14px !important;
    font-size: 16px !important;
}
.mess_err{
    color: red;
    margin-bottom: 10px;
}
.main-header__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*margin-right: 15px;*/
    margin-right: 3%;
}
.main-login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
ol, ul {
    list-style: none;
}
.main-login li:not(:last-child) {
    margin-right: 25px;
}
.main-login li a {
    display: block;
    font-size: 16px;
    font-family: "MontserratAlternates-Regular";
    color: #434344;
    font-weight: bold;
    padding-left: 25px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 8px;
}

a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-user:before {
    content: "\e008";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.urljobs{
    margin: 10px 0 10px;
    font-size: 20px;
    background-color: ghostwhite;
    border-width: 4px;
    padding: 0.5rem 0.75rem;
    font-family: "Helvetica Light", Arial, sans-serif;
    line-height: 1.25;
    color: #252525;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
/*.collapse{
    padding: 0.5rem 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}*/
.custom-file {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 2.5rem;
    cursor: pointer;
}
.custom-file-input {
    min-width: 14rem;
    max-width: 100%;
    margin: 0;
    filter: alpha(opacity=0) !important;
    opacity: 0 !important;
}
.custom-file-control {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 3.5rem;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    color: #555;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
}
.custom-file-control:lang(ru)::before {
    content: "Загрузить";
}
.custom-file-control::before {
    content: "Загрузить";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 6;
    display: block;
    height: 3.5rem;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 0 0.25rem 0.25rem 0;
}
.custom-file-control:lang(ru)::after {
    content: attr(data-content-value);
}
*, *::before, *::after {
    box-sizing: inherit;
}
.row{
    margin-top: 15px;
}
.vakanciyablock{
    display: inline-grid;
}
.vakanciyablock .col-md-12, .vakanciyablock .col-md-10, .vakanciyablock .col-md-2{
    padding: 0px;
}
.caption{
    color: #337ab7;
    font-size: 20px !important;
    font-weight: bold !important;
}
.caption_company{
    color: #337ab7;
    font-size: 16px;
    /*font-size: 20px !important;*/
    font-weight: bold !important;
    text-decoration: underline;
}
.sub_caption{
    color: #337ab7;
    font-size: 18px !important;
    font-weight: bold !important;
}
.descr_job{
    /*font-size: 18px !important;*/
    font-weight: bold !important;
}
.orderssend{
   /*margin: 15px 15px 5px 15px; */
   margin: 2% 1% 0% 1%;
}
.disable{
    /*background-color: #e0dfdf;*/
    color: #c1c1c1;
}
.block{
    /*height: 120px;*/
}
.disable::before {
    color: #c1c1c1;
}
.sendorder{
    text-align: center;
    padding-top: 20px;
}
.modal-title.login{
    display: initial;
}
.modal-header.login{
    text-align: center;
    border-bottom: none;
    padding-top: 40px;
}
.form-login{
    width: 75%;
    margin: auto;
}
.modal-footer.login {
    border-top: none;
}
.modal-content.login{
    width: 500px;
}
#loginVK{
    width: 100%;
    position: relative;
}
#loginVK::before {
    content: "";
    display: inline-block;
    height: 26px;
    margin-right: 13px;
    /*position: relative;*/
    top: 8px;
    vertical-align: middle;
    width: 32px;
    /*background-image: url(http://www.geppoz.eu/geppoz.png);*/
    background: url(../img/vk.png) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    background-size: contain;
    position: absolute;
    left: 40px;
}
.form-login #login{
    width: 100%;
    height: 50px;
}
.form-login input{
    font-size: 18px;
    padding: 0px 18px;
    height: 50px;
}
.form-login label{
    color: #999999;
}
.thin{
    font-weight: 100;
}
#registr{
    width: 100%;
    height: 50px;
}
.mess_err_send{
    color: red;
    margin-bottom: 10px;
}
.send_order_div{
    text-align: center;
    margin-top: 10%;
}
.btn-primary{
    background-color: #016fb9 !important;
    border-color: #016fb9 !important;
}
.btn-primary_no{
    color: #016fb9 !important;
    background-color: #ffffff !important;
    border-color: #016fb9 !important;
}
.box8{
    /*box-shadow: 0 0 8px;*/
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.block{
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 25px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btnlogvk{
    font-size: 16px !important;
    border-color: #4a76a8;
    background-color: #4a76a8;
    color: #ffffff;
    width: 100%;
    padding: 15px 16px !important;
}
.vkimg{
    padding-bottom: 3px;
    margin-right: 14px;
}
.btnlogvk:focus{
    color: #ffffff !important;
}
.btnlogvk:hover{
    color: #ffffff !important;
}
#ModalRegistr{
    padding-left: 0px !important;
}
.mr_l{
    margin-left: 10px;
}
.hint_zakaz {
    visibility:hidden;
    position:absolute;
    border-style:solid;
    border-width:2px;
    padding: 5px;
    z-Index: 9999;
    border-color: #5ba2d2;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 5px;
}
.collg6l{
    padding: 2% 4% 1% 2% !important;
}
.collg6r{
    padding: 2% 2% 1% 4% !important;
}
.collg6c{
    padding: 2% 2% 1% 2% !important;
}
.divimglogo{
    height: 30%;
    width: 12% !important;
    position: absolute !important;
    display: inline-flex;
    right: 4%;
    margin: 3% 0px;
}
.countq{
    margin-left: 10px;
}
.custom-control {
    position: relative;
    display: inline-block;
    top: 8px;
    padding-left: 50px;
    cursor: pointer;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-control .custom-control-indicator {
    margin-top: 3px;
}
.custom-control .custom-control-indicator {
    width: 30px;
    height: 30px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    transition-property: all;
    transition-duration: .2s;
}
.custom-checkbox .custom-control-indicator {
    border-radius: 0.25rem;
}
.custom-control-indicator {
    position: absolute;
    top: .0625rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.activity .custom-control .custom-control-description {
    font-family: "Helvetica Light", Arial, sans-serif;
}
.custom-control .custom-control-description {
    position: relative;
    top: 10px;
    display: inline-block;
    font-size: 16px;
    color: #252525;
    line-height: 20px;
    transition-property: all;
    transition-duration: .2s;
    font-weight: 100;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.custom-control-input:checked ~ .custom-control-indicator {
    box-shadow: none;
    border-color: #008bc7;
    background-color: #008bc7;
    color: #fff;
}
.answer-style{
    line-height: 3;
}
#nextquery{
    float: right;
}
#backquery{
    float: right;
}
#exitquery{
    float: right;
}
.fl_r{
    float: right;
}
.achievements_block{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
#send_achievements{
    padding-right: 0px;
}
#send_motivation{
    padding-right: 0px;
}
#achievements{
    color: #337ab7;
    font-size: 14px !important;
    font-weight: bold !important;
}
.start_year{
    margin: 10px 0px 10px 0px;
    width: 98% !important;
    float: right;
}
.start_month{
    margin: 10px 0px 10px 0px;
    width: 98% !important;
    float: left;
}
.end_year{
    width: 98% !important;
    float: right;
}
.end_month{
    width: 98% !important;
    float: left;
}
.achievements_block textarea{
    height: 123px !important;
}
.color_place_holder{
    color: #a4a3b0 !important;
}
.white_color{
    color: white !important;
}
.black_color{
    color: #000000 !important;
}


@media (max-width: 1200px){
    .main-header__right {
        margin-right: 5%;
    }
}

@media (max-width: 900px){
    .col-lg-4.achievements_block.date{
        height: 240px;
    }
    .collg6r{
        padding: 2% 4% 1% 2% !important;
    }
    .dop_info_select{
        width: 100% !important;
    }
    .col-lg-4{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .orderssend{
        display: flex;
        flex-direction: column-reverse;
    }
    .divimglogo{
        width: 140px!important;
        margin: auto!important;
        height: auto!important;
    }
    .block5 .btn-primary_no{
        width: 215px!important;
    }
}

.modal-content.login{
    margin: auto;
}

@media (max-width: 560px){
    .modal-dialog.modal-dialog-centered{
        margin: 5% 5% auto;
        width: auto;
    }
    .modal-content.login{
        width: auto;
    }
}

@media (max-width: 440px){
    .head_achievements {
        height: 70px;
    }
    .col-lg-4.achievements_block.date{
        height: 240px;
    }
    .dop_info_select{
        width: 100% !important;
    }
    .col-lg-4{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .orderssend{
        display: flex;
        flex-direction: column-reverse;
    }
    .divimglogo{
        width: 140px!important;
        margin: auto;
        height: auto!important;
    }
    .block5 .btn-primary_no{
        width: 215px!important;
    }
}

.block5 .btn-primary_no{
    width: 170px;
}
#add_motivation_has{
    width: 215px;
}
#add_achievements_has{
    width: 215px;
}
#add_motivation_has_modal{
    width: 215px;
}
#add_achievements_has_modal{
    width: 215px;
}

/*/////////////////  lending  ///////////////////////////*/
.footer {
    background-color: #f5f5f5;
}
.mt-auto, .my-auto {
    margin-top: auto!important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.h-100 {
    height: 100%!important;
}
.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.flex-shrink-0 {
    -ms-flex-negative: 0!important;
    flex-shrink: 0!important;
}
.blockfour{
    background-color: #132d62;
    line-height: 12;
    color: white;
    margin: 1% 1% auto;
    text-align: center;
    width: 23%!important;
}
.lend_label{
    text-align: center;
    margin-top: 15px;
}
/*/////////////////  lending  ///////////////////////////*/